<div class="fondo-negro animated fadeIn" [ngClass]="_modalUploadService.oculto">
  <div class="modal" style="display: block;"tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <img *ngIf="!imagenTemp" [src]="'sinimage' | imagen" class="w150">
          <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
          <input (change)="seleccionImage($event.target.files[0])" type="file">
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
          <button (click)="subirImagen()" [disabled]="!imagenTemp" type="button" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>