<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Médico: Nombre</h3>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
              <br>
                <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                    <div class="form-group">
                        <label >Apellidos y Nombres</label>
                        <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese los apellidos y nombres" required>
                    </div>
                    <div class="form-group">
                        <label>Hospital</label>
                        <select (change)="cambioHospital( $event.target.value )" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                          <!-- <option value="">Seleccione Hospital</option> -->
                          <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                            {{hospital.nombre}}
                          </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>
                    <button routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
  </div>

  <div class="col-md-3">
      <div class="card card-body">
        <h2 class="box-title m-b-0">Hospital</h2>

        <img src="hospital.img | imagen: 'hospital'">
      </div>
  </div>
  
  <div class="col-md-3">
      <div class="card card-body">
        <h2 class="box-title m-b-0">Fotografía</h2>
        <img src="" alt="">
      </div>
  </div>

</div>