<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="buscarHospital( input.value )" type="text" class="form-control" placeholder="Buscar hospital">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button (click)="crearHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear hospital
          </button>
        </div>
        <h3 class="card-tittle">Hospitales Registrados ( <small>{{ _hospitalService.totalHospitales }}</small> )</h3>

        <table class="table table-hover">

          <thead>
            <tr>
              <th>Foto</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td>
                <img (click)="actualizaImagen( hospital )" [src]="hospital.img | imagen:'hospital' " class="img-50 pointer">
              </td>
              <td>
                <input [(ngModel)]="hospital.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del hospital">
              </td>
              <td class="text-right">
                <button (click)="guardarHospital( hospital )" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="borrarHospital( hospital )" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>

        </table>

      <!-- </div> -->
    </div>
  </div>
</div>